.carousel-caption {
  padding-bottom: 80px;
}

.slider-h {
  font-size: 60px;
}

.slider-p {
  padding: 10px;
}

.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

.count {
  font-size: 50px;
}

.textcolor{
color: rgb(188,42,44)!important;
}



